body {
    margin: 0;
    font-family: 'Kaisei HarunoUmi', serif;
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 50px;
    background: #fff;
    border-bottom: solid 1px #e2a22d;
    padding-top: 16px;
}

.header-content {
    justify-content: center;
    display: flex;
    flex-direction: column;
}

.logo {
    display: flex;
    justify-content: center;
}

.logo img {
    width: 160px;
}

ul {
    display: flex;
    list-style-type: none;
    padding: 0;
}

li {
    margin: 0 16px;
    font-family: 'Dancing Script', cursive;
    font-size: 22px;
    padding: 8px 0;
}

li.menu-item a {
    padding: 8px;
    cursor: pointer;
    transition: all 0.2s;
    text-decoration: none;
    color: #333
}

li.menu-item a:hover {
    border-bottom: solid 2px #e2a22d;
}

li.active {
    border-bottom: solid 2px #333;
}

footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 16px;
    background: #e2a22d;
}

footer .content-footer {
    font-family: 'Kaisei HarunoUmi', serif;
    color: #fff;
    font-size: 14px;
}

/* QUEM SOMOS */

.page-container {
    margin: 0 auto;
    max-width: 900px;
    background: #f1f1f1;
}

.produtos-container{
    display: flex;
    justify-content: center;
}

.produtos {
    list-style-type: none;
    padding: 0;
}

.img-container img{
    max-height: 150px;
    background-size: cover;
}

.content {
    background: #fff;
    margin-bottom: 80px;
}